{% extends "layouts/doc-layout" %}

{% block title %}Remove Filter - Wisp Template Documentation{% end %}

{% block body %}
<h1>Remove Filter</h1>

<p>Removes all occurrences of a substring.</p>

<h2>Syntax</h2>
<pre><code>{% raw %}
{% "string" | remove "substring" %}
{% endraw %}</code></pre>
{% end %}
